/* { border: 1px solid gray; } */
html, body {
    overflow-x: hidden;
    overflow-y: overlay;
}
body {
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: calc(10px + (20 - 10) * ((100vw - 360px) / (1560)));
    margin: 0;
    border-radius: 2px;    
}
.game, .addterm {
    background-color: #19171C;
    padding: 1vh 0;
    width: 30vw;
}
.addterm {
    background-color: #fff;
}
.left {
    position: absolute;
}
.critera {
    height: 25vh;
    margin-left: 30vw;
    width: 74%;
    max-width: 2500px;
    max-height: 250px;
    padding-left: 0.5vw;
}
fieldset {
    border-radius: 4px;
    height: 100px;
    width: 62.5vw;
    overflow: visible;
    max-width: 1500px;
    margin-left: 2vw;
    margin-bottom: 2vh;
}
.mtitle {
    margin-left: auto;
    margin-right: auto;
}
.title {
    overflow-wrap: break-word;
    font-weight: bold;
    font-size: calc(12px + (20 - 12) * ((100vw - 360px) / (1560)));
}
.title a:link, a:visited {
    color: #000;
}
.title a:link:hover {
    text-decoration: underline;
    color: rgb(100, 65, 164);
}
.username {
    font-size: calc(11px + (20 - 11) * ((100vw - 360px) / (1560)));
}
.sort {
    float: right;
    margin-right: 32vw;
    margin-top: 0.5vh;
}
a:link {
    text-decoration: none;
}
form {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5vw;
}
.gladr {
    text-decoration: none;
}
input, button {
    margin: 0.25em auto;
    text-align: center;    
    display: inline;
    border-radius: 0.25em;
    border: 1px solid grey;
    width: 24vw;
    max-width: 150px;
}
label {
    width: 30%;
    border-radius: 2px;
    font-weight: bold;
}
li {
    display: block;
    border-radius: 4px;
    margin-bottom: 1vh;
    vertical-align: top;
}
#numresults {
    grid-column: 2 / 3;
}
.repoTitle {
    font-weight: bold;
}
p {
    display: block;
    overflow-wrap: break-word;
    text-align: left;    
    margin: 1px;
}
select {
    display: inline-block;
    border-radius: 2px;
    margin-left: 5px;
    margin-right: auto;    
    max-width: 90px;
    text-align: center;
    width: 24vw;
    height: 3vh;
    padding: 0 8px 0 10px;
    min-height: 20px;
    max-height: 30px;
    max-width: 100px;    
}
select:enabled, .fa-times {
    cursor: pointer;
}
input[type=button], button{
    background-color: rgb(100, 65, 164);
    color: #fff;
    padding: 0 5px;
    height: 30px;
}
input[type=button]:hover:enabled, button:hover:enabled {
    background-color: #AC9ACE;
    transition: 200ms;
    cursor: pointer;
}
input[type=checkbox], input[type=radio], .hidden {
    display: none;
}
button:disabled {
    background-color: #999;
}
text {
    width: 50vw;
}
legend {
    padding: 5px;
}
.hide {
    visibility: hidden;
    height: 0;
}
hr {
    color: rgb(100, 65, 164);
    width: 100%;
    padding-top: 1vh;
}
.critera {
    width: 100%;
}
.checkbox-container {
    display: flex;
    justify-content: space-around;
}
option {
    margin: 2px;
}
image {
    float: left;
}
.channels {
    color: red;
}
.games {
    color: blue;
}
.channels, .games {
    padding: 5px;
    border-radius: 4px;
    margin: 0 5px 20px;
    max-width: 800px;
    background-color: #fff;
}
h1 {
    text-align: top;    
}
nav {
    padding-top: 0.1em;
    margin-right: 3vw;
    font-size: calc(12px + (20 - 12) * ((100vw - 360px) / (1560)));
    color: #000;
}
nav a:link, nav a:visited {
    color: #fff;    
}
h1, nav {
    display: inline-block;
    vertical-align: center;
}
h2 {
    margin-top: 0.4em;
}
header {
    display: flex;
    justify-content: right;
    background-color: rgb(100, 65, 164);
    color: #fff;
    height: 4em;
    max-height: 55px;
}
header a {
    color: #fff;
    margin-right: 0.25em;
}
.accountInput {
    width: 5em;
    margin-right: 0.25em;
}
.modal {
    display: none;
    position: fixed;    
    z-index: 1;
    width: 100%;
    height: 100%;
    margin: auto;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0);
    background-color: rgba(0,0,0,0.4);
    font-size: calc(18px + (20 - 18) * ((100vw - 360px) / (1560)));
    font-weight: bold;
}
.modalcontent {
    background-color: #fff;
    margin: auto;
    margin-top: 10vh;
    height: auto;
    width: 40%;
    padding: 5px 20px 20px 20px;
    border-radius: 8px;    
}
.modalcontent p {
    text-align: center;
}
.modalx {
    text-align: right;
    width: 100%;
    cursor: pointer;
}
div p {
    display: inline-block;
    vertical-align: top;
}
span {
    display: inline;
    font-size: 2em;
    vertical-align: top;
}
img, article {
    display: inline-block;
}
img {
    border-radius: 0.25em;
}
.resultitem {
    vertical-align: top;
}
i {
    margin: 0 2px;
}
ol {
    padding: 0 0.2em;
    margin: 0 0.2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.content-list {
    text-align: left;
    padding: 0;
    padding-top: 12px;
    margin-top: 0;
    margin-bottom: 2px;
}
.content-list li {
    display: inline;
    padding: 0 1px;
}
.content-list li:nth-child(6) {
    float: right;
    margin-right: 32vw;
    width: auto;
}
.content-list label {
    padding: 10px 5px;
}
.content-list .navitem:hover {
    padding-bottom: 10px;
    border-bottom: 4px solid darkgray;    
    cursor: pointer;
}
.clist-active {
    padding-bottom: 10px;
    border-bottom: 4px solid rgb(100, 65, 164);
}
div .vl {    
    height: 100%;
    border-left: 1px solid black;
    border-radius: 0;
    padding: 10px 0;
}
#search {
    max-width: none;
    margin-bottom: 1vh;
}
#searchresult-list {
    margin-top: 2vh;
    margin-bottom: 0.25em;
    margin-left: 0;
    max-width: 200px;
}
.iteminfo {
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    border-radius: 8px;
    cursor: pointer;
}
.iteminfo p {
    background-color: #000;
    background-color: rgba(0,0,0,0.8);
}
p.views, p.date {
    align-self: flex-end;
    padding: 2px;
    font-size: calc(12px + (20 - 12) * ((100vw - 360px) / (1560)));
}
p.views {
    border-radius: 0px 0px 0px 4px;
}
p.date {
    border-radius: 0px 0px 4px 0px;
}
.fa-play {
    align-self: center;
    color: rgba(255,255,255,0.2);
}
.iteminfo:hover .fa-play {
    color: #fff;
    transition: 200ms;
}
.colortrans {
    transition: 200ms;
}